<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0
    </div>
    <strong>Copyright &copy; {{ "now"|date("Y") }} {{ app_name }}.</strong> All rights reserved.
</footer>
